apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "prom-stack-chart.fullname" . }}-alertmanager
  labels:
    {{- include "prom-stack-chart.labels" . | nindent 4 }}
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m

    route:
      group_by: ['alertname']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 1h
      receiver: 'web.hook'

    receivers:
    - name: 'web.hook'
      webhook_configs:
      - url: 'http://127.0.0.1:5001/'
