apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-prometheus-pushgateway
  namespace: monitoring
  labels:
    app: prometheus
    component: pushgateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
      component: pushgateway
  template:
    metadata:
      labels:
        app: prometheus
        component: pushgateway
    spec:
      containers:
        - name: pushgateway
          image: "{{ .Values.pushgateway.image.repository }}:{{ .Values.pushgateway.image.tag }}"
          imagePullPolicy: {{ .Values.pushgateway.image.pullPolicy }}
          ports:
            - containerPort: 9091
              name: http
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /-/healthy
              port: http
            initialDelaySeconds: 10
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /-/ready
              port: http
            initialDelaySeconds: 10
            timeoutSeconds: 10
          resources:
            {{- toYaml .Values.pushgateway.resources | nindent 12 }}
