apiVersion: v1
kind: Service
metadata:
  name: {{ include "prom-stack-chart.fullname" . }}-prometheus
  labels:
    {{- include "prom-stack-chart.labels" . | nindent 4 }}
    component: prometheus
spec:
  type: {{ .Values.prometheus.service.type }}
  ports:
    - port: {{ .Values.prometheus.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "prom-stack-chart.selectorLabels" . | nindent 4 }}
    component: prometheus
